<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Productos</b></h4>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" routerLink="/add-product" class="btn"><i class='fas fa-eye view'>Agregar
                                producto</i></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered table-content">
                <thead>
                    <tr class="center-align">
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio Base</th>
                        <th>Precio a público</th>
                        <th>Inventario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products" class="center-align">

                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.baseprice }}</td>
                        <td>{{ product.publicprice }}</td>
                        <td>{{ product.stock }}</td>
                        <td>
                            <a href="#" routerLink="/detailproduct/{{product.id}}" class="btn"><i
                                    class='fas fa-eye view'>Editar</i></a>
                            <button type="button" (click)="delete(product)" class="btn"><i
                                    class='fas fa-trash-alt delete'>x</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>